language: python
sudo: false
cache:
  directories:
    - $HOME/.cache/pip
    
env:
  global:
    - TEST=-v
  matrix:
    - DOCUTILS=0.14

matrix:
  include:
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true
    - python: pypy3

install:
  - pip install -U pip
  - pip install docutils==$DOCUTILS
  - pip install -r requirements.txt
  - pip install -e .

script:
  - make -C demo html SPHINXOPTS="-D html_theme=sphinx_adc_theme"

deploy:
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
    local_dir: demo/build/html/
    on:
      branch: master
      python: 3.6
  - provider: pypi
    user: $PYPI_USER
    password: $PYPI_PASS
    skip_cleanup: true
    distributions: "sdist bdist_wheel"
    on:
      tags: true
      python: 3.7
      branch: master


